#upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

#upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#upload-btn-wrapper #upload-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

#upload-btn-wrapper #upload-btn:hover {
    border: 2px solid black;
}

#file-name {
    margin-top: 10px;
}