@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0.25rem;
}

.chat-window {
  display: flex;
  border: solid 1px black;
  height: 500px;
}

.chat-window #messages {
  flex-basis: 70%;
  overflow: scroll;
}

.chat-window #users {
  border-left: solid 1px black;
}

.chat-box {
  margin-top: 10px;
}

.chat-box input {
  width: 100%;
}

.chat-box button {
  margin-top: 5px;
}
